{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="col-9">
        <h2 align="center" style="margin-top: 10px">My project</h2>
        <hr class="own-hr">
        <div class="container mt-3 w-75">
            {% for project in projects %}
                <div class="d-flex flex-column mb-3 align-items-center">
                    <h3 class="text-center"><a class="link-dark" href="{% url 'project_detail' project.id %}"
                                               style="text-decoration: none;">{{ project.title }}</a></h3>
                    <div class="align-self-center p-2 bd-highlight">
                         <img style="width: 800px; height: 300px; object-fit: cover; padding-top: 15px; padding-bottom: 15px; margin-left: 30px;"
                             src="{{ project.image.url }}">
                    </div>
                    <p class="w-75 mt-2">Tecnologies:{{ project.technology }}</p>
                    <p class="w-75 mt-1">{{ project.desscription | truncatechars:170 }}</p>
                    <a class="btn btn-danger" href="{% url 'project_delete' project.id %}">Delete</a>
                </div>
                <hr class="own-hr">
            {% endfor %}
    </div>
</div>

    </div>
{% endblock %}