{% extends 'base.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
    <div class="col-lg-4 mt-5" style="margin:0 auto">

        <form method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" name="username" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control mt-3" id="password" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}